body {
    background-color: rgb(26,27,36);
    padding-top: 10vw;
    margin: 0;
    color: #f4a14f;
    font-family: VT323;
    cursor: url(/customCursors/inscryptionNormal.cur),default;
    background-image: 
        repeating-linear-gradient(
            45deg,
            transparent, 
            transparent 0.25vw,
            #2b2e53 0.25vw,
            #000000 0.5vw);
    background-size: 200% 200%;
    animation: stripes 400s linear infinite;
}

a {
    display:inline-block;
    text-decoration: none;
    color: #f4a14f;
    transition: 0.3s;
}

a:hover {
    color: #d67616;
    cursor: url(/customCursors/inscryptionLink.cur),pointer;
    transform: scale(1.2);
}





header {
    background-color: #6d412e;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: solid #000000 0.2vw;
}

@keyframes stripes {
    100% { background-position: 100% 100%; }
}

.box-background {
    background-image: 
        repeating-linear-gradient(
            0deg, 
            transparent, 
            transparent 0.2vw,
            #996751 0.2vw,
            #462213 0.4vw);
    background-size: 200% 200%;
    animation: stripes 30s linear infinite;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style-type: none;
    display: inline-block;
    margin-right: 7vw;
    font-size: 2rem;
}

@keyframes float-flicker {
    0% { transform: translatey(0); opacity: 1;}
    33% { transform: translatey(0.75vw); opacity: 0.7; }
    66% { transform: translatey(-0.75vw); opacity: 0.4 }
    100% { transform: translatey(0); opacity: 1;}
}

header img { height: 5vw; }

header li:hover, footer ul:nth-child(2) li:hover {
    animation: float-flicker 5s ease-in-out infinite;
}

#search-box {
    background: #9c530a;
    height: 1.5vw;
    border-radius: 2.5vw;
    padding: 0.5vw;
}

#search-input {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #ffa74f;
  font-size: 1.25rem;
  transition: 0.4s;
  line-height: 1.5vw;
  width: 0;
}

#search-box:hover > #search-input { width: 12.5vw; padding: 0 0.35vw; }

#search-btn {
    color: #ffa74f;
    float: right;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    background: #9c530a;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

.fa-search { background: #9c530a; font-size: 1.6rem; }

::placeholder { color: #ffa74f; font-family: VT323; }

.bottom-border {
    border-top: solid #000000 0.2vw;
    background-color: #1a1b24;
    height: 0.2vw;
    border-bottom: solid #6d412e 0.2vw;
}





nav {
    border-top: #6d412e 0.2vw;
    margin-top: 2.5vw;
    background-color: #000000;
    padding: 0.25vw;
    border-bottom: #6d412e 0.2vw;
}

.box-background-2 {
    background-image: 
        repeating-linear-gradient(
            135deg,
            transparent, 
            transparent 0.25vw,
            #19191b 0.5vw);
    background-size: 200% 200%;
    animation: stripes 30s linear infinite;
}

.top-border {
    border-top: solid #6d412e 0.2vw;
    background-color: #1a1b24;
    height: 0.2vw;
    border-bottom: solid #000000 0.2vw;
}

nav div { margin: 0 -0.25vw; }

nav ul {
    justify-content: right; 
    align-items: center;
}

nav li { font-size: 3.33rem; }

aside a, nav a { color: #ffffff; }

aside a:hover, nav a:hover { color: #808080; }





article img, section img { cursor: url(/customCursors/inscryptionBusy.cur),auto; }

h1 img {
    display: block;
    margin: 2.5vw auto;
    height: 8.75vw;
    transform: translatey(0);
    animation: float-flicker 5s ease-in-out infinite;
}

h2 {
    display: inline-block;
    font-size: 3.75vw;
    margin: 1vw 0 2.5vw 5.75vw;
}

h2:hover { transform: scale(1.3); }

p { font-size: 2.2rem; }

p:hover, h2:hover, h3:hover { cursor: url(/customCursors/inscryptionText2.cur),text; }

section > p, article > p {
    text-align: center;
    margin: 0 5vw;
}

@keyframes borderAnimation {
    from { background-position: 0 0, -3.78vw 0, 100% -3.78vw, 0 100%; }
    to { background-position: 0 -3.78vw, 0 0, 100% 0, -3.78vw 100%; }
}

.rotating-border {
    background-image: 
        repeating-linear-gradient(-20deg, #525252, #afafaf 2.5vw, transparent 2.5vw, transparent 3.55vw, #afafaf 3.55vw), 
        repeating-linear-gradient(70deg, #525252, #afafaf 2.5vw, transparent 2.5vw, transparent 3.55vw, #afafaf 3.55vw), 
        repeating-linear-gradient(160deg, #525252, #afafaf 2.5vw, transparent 2.5vw, transparent 3.55vw, #afafaf 3.55vw), 
        repeating-linear-gradient(250deg, #525252, #afafaf 2.5vw, transparent 2.5vw, transparent 3.55vw, #afafaf 3.55vw);
    background-size: 1.25vw calc(100% + 3.78vw), calc(100% + 3.78vw) 1.25vw, 1.25vw calc(100% + 3.78vw) , calc(100% + 3.78vw) 1.25vw;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
    animation: borderAnimation 1.5s infinite linear;
}

section .box-background {
    background-color: #6d412e;
    padding: 1vw;
}

h1, h2, p, section > div { transition: 0.3s; }

h1:hover, section > p:hover, article > p:hover { transform: scale(1.05); }

section, section > div { margin-bottom: 3vw; }

section > div:hover { transform: scale(1.05); }

.act-main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    margin-bottom: 2.25vw;
}

.act-branch {
    display: block;
    margin-right: auto;
    width: 70%;
    padding: 2.25vw;
}

.act-branch img { height: 16.35vw; }

.float-right { margin-left: 18%; }

.float-right img { float: right; }

.float-left { margin-left: 8%; }

.float-left img { float: left; margin-right: 1vw; }





@font-face {
    font-family: Skyrim;
    src: url(/customFonts/Skyrim.ttf);
}

@font-face {
    font-family: Undertale;
    src: url(/customFonts/Undertale.otf);
}

aside {
    background-color: #000000;
    padding: 2.5vw;
    text-align: center;
}

aside > div { margin-left: -2.5vw; margin-right: -2.5vw; }

aside > div:first-child { margin-top: -2.25vw; }

aside > div:last-child { margin-bottom: -2.25vw; }

h3 {
    font-size: 5.32rem;
    color: #ffffff;
    margin-top: 1.5vw;
}

aside ul { padding-left: 0; margin-bottom: 2.5vw;}

aside img { display: inline-block; height: 12.5vw; }

aside a { font-size: 2.5rem; }

aside li:first-child { font-family: Skyrim; }

aside li:first-child a:hover { cursor: url(/customCursors/skyrimNormal.cur),pointer; }

aside li:nth-child(2) { font-family: Undertale; }

aside li:nth-child(2) a:hover { cursor: url(/customCursors/undertaleNormal.cur),pointer; }

aside li:last-child { font-family: Roboto; }

aside li:last-child a:hover { cursor: url(/customCursors/dbdNormal.cur),pointer; }

aside li {margin-right: 0;}

aside div { margin-top: 1vw; }





footer {
    font-size: 2rem;
    background-color: #6d412e;
    border-top: solid #000000 0.2vw;
    overflow: hidden;
    padding: 2.5vw;
}

footer > div:first-child { margin: -2.5vw -2.5vw 0 -2.5vw; }

#footer-border {
    border-top: solid #000000 0.2vw;
    background-color: #1a1b24;
    height: 0.2vw;
    border-top: solid #6d412e 0.2vw;
}

footer div:nth-child(2) {
    width: 65%;
    float: left;
    justify-content: space-between;
    align-items: center;
}

footer div ul:first-child { float: left; }

footer div ul:last-child { float: right; }

footer > ul {
    margin-bottom: 0;
    padding: 0;
    width: 35%;
    float: right;
    display: grid;
    justify-content: initial;
    align-items: initial;
    grid-template-areas: 'followUs . . . . .'
                         'followUs . . . . .'
                         'followUs . . . . .';
}

footer > ul div { grid-area: followUs; padding-bottom: 1.25vw; }

footer > ul img { height: 2.5vw; }

footer > ul li { padding: 0.5vw; margin-right: 0;}

footer > ul li:last-child img { border-radius: 0.5vw; }



/*#instagram { grid-area: instagram; }

#facebook { grid-area: facebook; }

#twitter { grid-area: twitter; }

#linkedin { grid-area: linkedin; }

#github { grid-area: github; }
#github img { border-radius: 0.5vw; }*/