* {
    margin: 0;
    padding: 0;
}

.elements {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Verdana';
    background-color: #89a0ce;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.lines {
    cursor: pointer;
}

.span {
    width: 30px;
    height: 4px;
    background-color: black;
    margin-bottom: 5px;
    border-radius: 2px;
    transition: 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.btn {
    display: none;
}

@media screen and (max-width: 767px) {

    .btn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
        padding-top: 20px;
    }

    .elements {

        flex-direction: column;
        align-items: center;
        position: absolute;
        margin: 0;
        padding: 20px;
        width: 35%;
        height: 100%;
        transform: translateX(-100%);
    }

}