body {
    padding-top:200px;
    margin: 0;
    background-color: rgb(26,27,36);
    color: rgb(244,161,79);
    font-family: VT323;
    cursor: url(../customCursors/InscryptionNormal.cur),default;
}

header {
    background-color: rgb(109,65,46);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    border-bottom: solid black 4px;
}

#header-border {
    border-top: solid black 4px;
    background-color: rgb(26,27,36);
    height: 4px;
    border-bottom: solid rgb(109,65,46) 4px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style-type: none;
    display: inline-block;
    margin-right: 125px;
    font-size: xx-large;
}

li:hover {
    transform: translatey(0px);
    animation: float 5s ease-in-out infinite;
}

a {
    text-decoration: none;
    color: rgb(244,161,79);
}

a:hover {
    color: rgb(214, 118, 22);
    cursor: url(../customCursors/InscryptionLink.cur),pointer;
    transform: scale(1.1);
}    

h1 img {
    display: block;
    margin: 50px auto;
    height: 125px;
    transform: translatey(0px);
    animation: float 5s ease-in-out infinite;
}

h2 {
    display: inline-block;
    font-size: 50px;
    margin-left: 115px;
}

p {
    font-size: 25px;
    text-align: center;
    margin: 0px 80px;
}

h1, h2, p {
    transition: 0.3s;
}

h1:hover, p:hover {
    cursor: url(../customCursors/InscryptionText2.cur),text;
    transform: scale(1.05);
}

h2:hover {
    transform: scale(1.3);
}

section {
    margin-bottom: 50px;
}

section.act-main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    margin-bottom: 30px;
    cursor: url(../customCursors/InscryptionBusy.cur),auto;
}

section.act-branch {
    background-color: rgb(109,65,46);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border: dashed 15px grey;
    padding: 20px;
}

section.act-branch img {
    height: 327px;
    cursor: url(../customCursors/InscryptionBusy.cur),auto;
}



@keyframes float {
    0% {
        transform: translatey(0px);
    }
    33% {
        transform: translatey(15px);
    }
    66% {
        transform: translatey(-15px);
    }
    100% {
        transform: translatey(0px);
    }
}



.backgrounder {
    background-image: 
        repeating-linear-gradient(
            0deg, 
            transparent, 
            transparent 4px,
            rgb(153, 103, 81) 4px,
            rgb(70, 34, 19) 8px
        );
    background-size: 200% 200%;
    animation: stripes 40s linear infinite;
}

@keyframes stripes {
    100% {
        background-position: 100% 100%;
    }
}

.element {
    background: repeating-linear-gradient(
        0deg,
        #606dbc,
        #606dbc 10px,
        #465298 10px,
        #465298 20px
    );
}



#search-box {
    background: rgb(156, 83, 10);
    height: 30px;
    border-radius: 50px;
    padding: 10px;
}

#search-input {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: rgb(255, 167, 79);
  font-size: 20px;
  transition: 0.4s;
  line-height: 30px;
  width: 0;
}

#search-box:hover > #search-input { width: 250px; padding: 0 7px; }

#search-btn {
    color: rgb(255, 167, 79);
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgb(156, 83, 10);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

.fa-search { background: rgb(156, 83, 10); font-size: 24px; }

::placeholder { color: rgb(255, 167, 79); font-family: VT323; }

/*
.rotating-dashed {
    position: relative;
    margin: 40px auto;
    width: 90px;
    height: 90px;
    overflow: hidden;
    color: #3498db;
}

.rotating-dashed:hover {
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}

.rotating-dashed .dashing {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

.rotating-dashed .dashing:nth-of-type(1) {
    transform: rotate(0deg);
}

.rotating-dashed .dashing:nth-of-type(2) {
    transform: rotate(90deg);
}

.rotating-dashed .dashing:nth-of-type(3) {
    transform: rotate(180deg);
}

.rotating-dashed .dashing:nth-of-type(4) {
    transform: rotate(270deg);
}

.rotating-dashed .dashing i {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    border-bottom: 5px dashed;
    animation: slideDash 2.5s infinite linear;
}

.rotating-dashed strong {
    display: block;
    width: 95px;
    line-height: 90px;
    text-align: center;
    position: absolute;
    font-size: 50px;
    transform: rotate(90deg);
}

@keyframes slideDash {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0%);
    }
}







/*
$h1:  rgba(45,45,45,1);
$blue: #98b5cc;
$yellow: #ffcc00;
$outline: rgba(#fff, .4);
$shadow: rgba($yellow, .5);
html,
body {
	background: linear-gradient(45deg, rgba(45,45,45,1) 9%,rgba(0,0,0,1) 100%);
	width: 100%;
	height: 100%;
}

h1 {
	font-family: 'CoreCircus', sans-serif;
	font-size: 14vw;
	text-align: center;
	line-height: 1;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	color: $h1;
	
	&:before {
		content: attr(data-heading);
		position: absolute;
		overflow: hidden;
		color: rgb(244,161,79);
		width: 100%;
		z-index: 5;
		text-shadow: none;
		left: 27%;
		text-align: left;
		animation: flicker 3s linear infinite;
	}
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		opacity: .99;
		text-shadow: -1px -1px 0 $outline, 1px -1px 0 $outline, -1px 1px 0 $outline, 1px 1px 0 $outline, 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
		text-shadow: none;
	}
}*/